.table-container {
    overflow: auto;
    max-height: 700px;
  }
  
  .table-container thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .table-size{
    zoom: .43;
  }
  
  .table-container td, thead {
    font-weight:550;
    font-size:x-large;
  }
  .table-container td{
    cursor: pointer;
  }

.info-labels{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.label{
  padding: 5px;
  border-radius: 5px;
  font-size: small;
}